extends layout

block contact
    div.container
        form(action="")
            label(for="fname") first name
            input(type="text")

            label(for="lname") last name
            input(type="text")

            label(for="message") Message
            textarea#message(name="", cols="30", rows="10", placeholder='Tape you message here ...')

            button Submit